<!DOCTYPE html>
<html>
<title>Bybrisk Maps | Let's Get Moving</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
.bgImgHeader{
      background-image: url("/static/images/indexBackground.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      }
</style>
<body class="w3-light-grey">

<!-- Header -->

<header class="w3-content bgImgHeader" style="max-width:1500px;height:700px;">

  <div class="w3-round-xxlarge w3-white w3-padding w3-col l6 m8 s11 w3-margin">
    <div class="w3-container">  
      <center><h3 class="w3-cell-bottom"><img src="/static/images/bybMapWB.png" style="width:100px;height:100px;"> Bybrisk Maps</h3></center>
    </div>
    <div class="w3-container w3-padding-16" id="signupComponent">
      <span id="signupErrorMessage" class="w3-text-red"></span>
      <form action="#" method="POST" id="createAccountForm" target="_blank" onSubmit="callCreateAccountAPI()" autocomplete="off">
        <div class="w3-row-padding" style="margin:0 -16px;">
          <div class="w3-rest w3-margin-bottom">
            <label><i class="fa fa-child"></i> UserName</label>
            <input class="w3-input w3-border" type="text" placeholder="@username" name="username" id="username" required>
          </div>
        </div>
        <div class="w3-row-padding" style="margin:8px -16px;">
          <div class="w3-rest w3-margin-bottom">
            <label><i class="fa fa-lock"></i> Password</label>
            <input class="w3-input w3-border" type="password" name="password" id="password" onInput="passwordValidation()" required>
            <span id="passwordSuggestions" class="w3-text-red"></span>
          </div>
        </div>
        <div class="w3-row-padding" style="margin:8px -16px;">
          <div class="w3-rest w3-margin-bottom">
            <label><i class="fa fa-building"></i> Business Name</label>
            <input class="w3-input w3-border" type="text" name="businessName" id="businessName" placeholder="Enter Business Name" required>
          </div>
        </div>
        <div class="w3-row-padding" style="margin:8px -16px;">
          <div class="w3-rest w3-margin-bottom">
            <label><i class="fas fa-map-signs"></i> City</label>
            <select class="w3-select" id="citySelect" name="citySelect">
              <option value="" disabled selected>Choose Your City</option>
              <option value="Bhopal">Bhopal</option>
              <option value="Indore">Indore</option>
              <option value="Pune">Pune</option>
            </select>
         </div>
        </div>  
        <center><button class="w3-button w3-dark-grey" type="submit"> SignUp </button><br>
        <h5>or <b class="w3-text-blue" onclick="loginComponent()" style="cursor:pointer">Login</b></h5></center>
      </form>
    </div>


   <!-------------------login code below---------->
    <div class="w3-container w3-padding-16" id="loginComponent" style="display:none;">
      <form action="#" method="POST" id="loginAccountForm" target="_blank" onSubmit="callLoginAccountAPI()" autocomplete="off">
        <div class="w3-row-padding" style="margin:0 -16px;">
          <div class="w3-rest w3-margin-bottom">
            <label><i class="fa fa-child"></i> UserName</label>
            <input class="w3-input w3-border" type="text" placeholder="@username" name="username" id="usernameLogin" required>
          </div>
        </div>
        <div class="w3-row-padding" style="margin:8px -16px;">
          <div class="w3-rest w3-margin-bottom">
            <label><i class="fa fa-lock"></i> Password</label>
            <input class="w3-input w3-border" type="password" name="password" id="passwordLogin" required>
          </div>
        </div>  
        <center><button class="w3-button w3-dark-grey" type="submit"> Login </button><br>
        <h5>or <b class="w3-text-blue" onclick="signupComponent()" style="cursor:pointer">SignUp</b></h5></center>
      </form>
    </div>

  </div>

</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1532px;">

    <div class="w3-row-padding w3-padding-16">
    <div class="w3-third w3-margin-bottom">
      <img src="/static/images/proPlan.png" alt="Norway" style="width:100%">
      <div class="w3-container w3-white">
        <h3>Starter Plan</h3>
        <h6 class="w3-opacity">₹550 per month</h6>
        <p>Split-in-3-zones</p>
        <p>Single point multi delivery</p>
        <p>Live tracking</p>
        <p>Updates to customers</p>
        <p>Analytics</p>
        <button type="submit" class="w3-button w3-block w3-black w3-margin-bottom">Select Plan</button>
      </div>
    </div>
    <div class="w3-third w3-margin-bottom">
      <img src="/static/images/expansionPlan.png" alt="Norway" style="width:100%">
      <div class="w3-container w3-white">
        <h3>Expansion Plan</h3>
        <h6 class="w3-opacity">₹950 per month</h6>
        <p>Split-in-5-zones</p>
        <p>Single point multi delivery</p>
        <p>Live tracking</p>
        <p>Updates to customers</p>
        <p>Analytics</p>
        <button type="submit" class="w3-button w3-block w3-black w3-margin-bottom">Select Plan</button>
      </div>
    </div>
    <div class="w3-third w3-margin-bottom">
      <img src="/static/images/proPlan.png" alt="Norway" style="width:100%">
      <div class="w3-container w3-white">
        <h3>Pro Plan</h3>
        <h6 class="w3-opacity">₹2150 per month</h6>
        <p>Split-in-10-zones</p>
        <p>Single point multi delivery</p>
        <p>Live tracking</p>
        <p>Updates to customers</p>
        <p>Analytics</p>
        <button type="submit" class="w3-button w3-block w3-black w3-margin-bottom">Select Plan</button>
      </div>
    </div>
  </div>

  <div class="w3-row-padding" id="about">
    <div class="w3-col l8 12">
      <h3>About</h3>
      <h6>Bybrisk, launched in 2019, caters to the logistics part of services and aims at providing a reliable and credible shipping experience for the people of Bhopal. Intending to bridge the gap between customers and services, we have partnered with more than 10 prestigious businesses in order to put them on a technological platform in such a short span of time. Perseverance and brand credibility being at the centre of our work model, we, at Bybrisk, quote the consumers with reasonable shipping charges and give fastest delivery assurance.

With intent to change the face of the hyperlocal market, Bybrisk has created efficient solutions for sellers and receivers to access leading logistic services encapsulated with commitment and vision. Bybrisk has got your shipping needs covered. </h6>
    <p>We accept: <i class="fa fa-credit-card w3-large"></i> <i class="fa fa-cc-mastercard w3-large"></i> <i class="fa fa-cc-amex w3-large"></i> <i class="fa fa-cc-cc-visa w3-large"></i><i class="fa fa-cc-paypal w3-large"></i></p>
    </div>
    <div class="w3-col l4 12">
      <!-- Image of location/map -->
      <img src="/static/images/logoWB.png" class="w3-image" style="width:100%;">
    </div>
  </div>
  
  <div class="w3-row-padding w3-large w3-center" style="margin:32px 0">
    <div class="w3-third"><i class="fa fa-map-marker w3-text-red"></i> Hostel 6, MANIT Campus, Bhopal, MP</div>
    <div class="w3-third"><i class="fa fa-phone w3-text-red"></i> Phone: +91 9109600906</div>
    <div class="w3-third"><i class="fa fa-envelope w3-text-red"></i> Email: info@bybrisk.com</div>
  </div>

<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-padding-32 w3-black w3-center w3-margin-top">
  <h5>Find Us On</h5>
  <div class="w3-xlarge w3-padding-16">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>Copyright <a href="https://bybrisk.com/" target="_blank" class="w3-hover-text-green">bybrisk.com</a></p>
</footer>


<script>
function callCreateAccountAPI(){
    document.getElementById("signupErrorMessage").innerHTML="";
    if(document.getElementById("passwordSuggestions").textContent==""){
        var oForm = document.getElementById("createAccountForm");
        var userName = document.getElementById("username").value;
        var businessName = document.getElementById("businessName").value;
        var password = document.getElementById("password").value;
        var city = document.getElementById("citySelect").value;
        oForm.action = "/create/account/"+userName+"/"+businessName+"/"+password+"/"+city;
    }
    else{
        document.getElementById("signupErrorMessage").innerHTML="Please correct the error before registration!";
    }
  }

function callLoginAccountAPI(){
    var oForm = document.getElementById("loginAccountForm");
    var userName = document.getElementById("usernameLogin").value;
    var password = document.getElementById("passwordLogin").value;
    oForm.action = "login/"+userName+"/"+password;
}

function loginComponent(){
  document.getElementById("loginComponent").style.display="block";
  document.getElementById("signupComponent").style.display="none";
}

function signupComponent(){
  document.getElementById("loginComponent").style.display="none";
  document.getElementById("signupComponent").style.display="block";
}

function passwordValidation() {
    document.getElementById("passwordSuggestions").innerHTML="";
    var edValue = document.getElementById("password").value;
    if(edValue.length<8){
      var textnode = document.createTextNode("Password must have atleast 8 characters.");         // Create a text node
      document.getElementById("passwordSuggestions").appendChild(textnode);
    }

  
}


</script>

</body>
</html>
