<!DOCTYPE html>
<html>
<title>Delivered - {{ .BusinessAccount.BusinessName }}, {{ .BusinessAccount.City }}Bybrisk Maps</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
button {outline:none;}

</style>
<script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right">Bybrisk Maps</span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="/static/images/bybMapWB.png" class="w3-margin-right" style="width:50px;height:50px;">
    </div>
    <div class="w3-col s8 w3-bar">
      <span>hello, <strong>{{ .BusinessAccount.UserName }}</strong></span><br>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <form method="POST" action="/overview/{{ .BusinessAccount.UserID }}">
    <button type="submit" class="w3-bar-item w3-transparent w3-border-0 w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Overview</button></form>
    
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  New Assignment</a>
    
    <a href="#" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-users fa-fw"></i>  Delivered</a>

    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bullseye fa-fw"></i>  Live Tracking</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bullseye fa-fw"></i>  Profile</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-diamond fa-fw"></i>  Delivery Settings</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bell fa-fw"></i>  Sudden Zone</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bank fa-fw"></i>  Upgrade Plan</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-history fa-fw"></i>  Analytics</a><br><br>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="width: 100%; height: 100%;margin-left:300px;margin-top:43px;">

    <div id='map' class="w3-border-0" style='width: 100%; height: 100%;z-index: 2;position: absolute;'></div>

    <centre><div style="z-index: 2;position: absolute;"><button id="displayMapButton" class="w3-button w3-blue" style="display:none;" onclick="displayMap()"> Map </button>
    <button id="displayListButton" class="w3-button w3-blue" onclick="displayList()"> List </button></div></center>
     <br><br>
      <center><table class="w3-table w3-striped w3-hoverable" id="customerListDetail" style="display:none;">
        <tr>
          <th> ZoneID </th>
          <th> Delivered On </th>
          <th> Customer Name </th>
          <th> Phone </th>       
          <th> Address </th>
        </tr>
        {{range .DeliveredDetails}}
          <tr>
            <td> {{ .ZoneID }} </td>
            <td> {{ .DateOfDelivery }} </td>
            <td> {{ .CustomerName }} </td>
            <td> {{ .CustomerMob }} </td>
            <td> {{ .Address }} </td>
          </tr>
        {{end}}
      </table></center>

    <ul id="latLongUL" style="display:none">
    {{range .DeliveredDetails}}
        <li>{{ .Longitude }}</li>
        <li>{{ .Latitude }}</li>
    {{end}}
    </ul>

    <ul id="AddressInfoUL" style="display:none">
    {{range .DeliveredDetails}}
        <li>
          <h5>Name : {{ .CustomerName }}</h5>
          <h5>Phone : {{ .CustomerMob }}</h5>
          <h5>Address : {{ .Address }}</h5>
          <h5>Delivered By : {{ .ZoneID }}</h5>
          <h5>Delivery On : {{ .DateOfDelivery }}</h5>
        </li>
    {{end}}
    </ul>


  <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

<script>
  let latitudeNLongitudeUL = document.getElementById('latLongUL');
  let children = latitudeNLongitudeUL.children;
  var monuments = new Array();
  var monumini;
  for(var j = 0;j<children.length; j++){
        monumini = [];  
        monumini.push(parseFloat(children[j].textContent));
        j++;
        monumini.push(parseFloat(children[j].textContent));
        monuments.push(monumini);
      }
  console.log(monuments);    

  mapboxgl.accessToken = 'pk.eyJ1Ijoic2hhc2hhbmstcHJha2FzaCIsImEiOiJja2ZoNmsxMHowaTVjMnhudnFld25lYXpjIn0.Ql0j22tXEVUyzAlXC-dtTQ';
  var map = new mapboxgl.Map({
       container: 'map',
       style: 'mapbox://styles/mapbox/streets-v11',
       center: [monuments[0][0],monuments[0][1]],
       pitch: 45,
       zoom: 11.4
  });

    map.addControl(new mapboxgl.NavigationControl());  //Add Control to map

    let CustomerInfoUL = document.getElementById('AddressInfoUL');
    children = CustomerInfoUL.children;
    var popupInfo = new Array();
    for(j = 0;j<children.length; j++){
        console.log(children[j].innerHTML);
        popupInfo.push(children[j].innerHTML);
    }
    console.log(popupInfo);

    for(var i=0;i<children.length;i++){
        var popup = new mapboxgl.Popup({ offset: 25 }).setHTML('<font color="black">'+popupInfo[i]+'</font>');
        
        // create DOM element for the marker
        var el = document.createElement('div');
        el.style.backgroundImage = "url('/static/images/bbDelivery.jpeg')";
        el.style.backgroundSize = "cover";
        el.style.height = "50px";
        el.style.width = "50px";
        el.style.borderRadius = "50%";
        el.style.cursor = "pointer";
        el.id = 'marker'+i;
        
        // create the marker
        new mapboxgl.Marker(el).setLngLat(monuments[i]).setPopup(popup).addTo(map);
    }

function displayMap() {
    //document.getElementById("mapContainer").style.display="block";
   // document.getElementById("map").style.height="100%";
   // document.getElementById("map").style.widht="100%";
    document.getElementById("customerListDetail").style.display="none";
    document.getElementById("map").style.display="block";
    document.getElementById("displayListButton").style.display="block";
    document.getElementById("displayMapButton").style.display="none";
}

function displayList(){
    document.getElementById("customerListDetail").style.display="block";
    document.getElementById("map").style.display="none";
    document.getElementById("displayListButton").style.display="none";
    document.getElementById("displayMapButton").style.display="block";
}

</script>

</body>
</html>