<!DOCTYPE html>
<html>
<title>Zones - Bybrisk Maps Admin</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
button {outline:none;}

</style>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right">Bybrisk Maps</span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="/static/images/bybMapWB.png" class="w3-margin-right" style="width:50px;height:50px;">
    </div>
    <div class="w3-col s8 w3-bar">
      <span>hello, <strong>{{ .UserName }}</strong></span><br>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <form method="POST" action="/overview/{{ .UserID }}">
    <button type="submit" class="w3-bar-item w3-transparent w3-border-0 w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Overview</button></form>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  New Assignment</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Live Tracking</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bullseye fa-fw"></i>  Profile</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-diamond fa-fw"></i>  Delivery Settings</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bell fa-fw"></i>  Sudden Zone</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bank fa-fw"></i>  Upgrade Plan</a>
    <a href="#" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-history fa-fw"></i>  Analytics</a><br><br>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> {{ .BusinessName }}, {{ .City }}</b></h5>
  </header>

  <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
      
      <div class="w3-rest">
        <h5>Zone Overview</h5>
        <table class="w3-table w3-striped w3-white">
        <tr>
            <th></th>
            <th>ZoneID</th>
            <th>Delivery Pending</th>
        </tr>
        {{ range .ZoneDetailInfo }}
          <tr>
            <td><i class="fa fa-user w3-text-blue w3-large"></i></td>
            <td>{{ .Name }}</td>
            <td>{{ .DeliveryInZone }}</td>
            <td><button onclick="document.getElementById('{{ .UserID }}').style.display='block'" class="w3-button w3-blue">Assign</button></td>
            <td><button>Empty</button></td>
          </tr>
        {{ end }}
        </table>
      </div>
    </div>
  </div>

    {{ range .ZoneDetailInfo }}
    <div id="{{ .UserID }}" class="w3-modal w3-white w3-round-xxlarge">
    <div class="w3-modal-content w3-card-4">
        <span onclick="document.getElementById('{{ .UserID }}').style.display='none'" class="w3-button w3-display-topright w3-red"><h4>&times;</h4></span>
        <h2>Assign Deliveries to {{ .Name }}</h2>
      <div class="w3-container">
        <form enctype="multipart/form-data" method="POST" action="/zone/assign/{{ .UserID }}">
        <p><input type="file" name="xlsxFile" /></p>
        <p><button type="submit" class="w3-btn w3-blue w3-border w3-round-xxlarge"> Upload </button></p>
        </form>
      </div>
    </div>
  </div>
  {{end}}

  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey">
    <h4>ADMIN</h4>
    <p>Bybrisk Maps <a href="https:bybrisk.com" target="_blank">bybrisk</a></p>
  </footer>

  <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>





















